// viewport breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 75rem;

$side-padding-mobile: 1.5rem;
$desktop-side-padding: 3rem;

$color1: #395b64;
$color2: #2c3333;
$color3: #a5c9ca;
$color4: #e7f6f2;

$test: #df1212;
