.home {
}

.scrollTop {
  position: fixed;
  cursor: pointer;
  width: 3rem;
  z-index: 1000;
  top: 2rem;
  right: 2rem;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.3;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
