@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: $color-primary;
  padding: 1rem $side-padding-mobile;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;

  &__name {
    font-size: 1.5rem;
  }
}
