@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
  color: #fff;
  padding: 1rem;
  width: 100%;

  @include tablet {
    @include page-side-padding-tablet;
  }

  &__logo {
    font-size: 1.5rem;
  }

  &__list {
    display: none;
    list-style-type: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 25%;
    }
  }

  &__list-item {
    padding: 0.5rem;
    border-radius: 1rem;
    &:hover {
      background-color: #3a586485;
    }
    @include tablet {
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
  }
}

.show-menu {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 1rem;
  flex-direction: column;
  list-style-type: none;

  @include tablet {
    position: relative;
    top: 0rem;
    flex-direction: row;
    width: 30%;
  }
}
