@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Projects {
  @include page-side-padding-mobile;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  @include tablet {
    @include page-side-padding-tablet;
  }

  &__title {
    text-align: center;
  }
}
