@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Projects {
  @include page-side-padding-mobile;
  display: flex;
  justify-content: center;
  background-color: $color2;
  padding: 2rem 0rem;
  position: relative;
  align-items: center;
  height: 100vh;

  @include tablet {
    @include page-side-padding-tablet;
  }

  &__arrow {
    max-width: 2rem;
    max-height: 2rem;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &--right {
      margin-left: 0.25rem;
      @include desktop {
        margin-left: 1rem;
      }
    }

    &--left {
      margin-right: 0.25rem;
      @include desktop {
        margin-right: 1rem;
      }
    }
  }

  &__upArrowContainer {
    position: absolute;
  }

  &__upArrow {
    position: fixed;
    width: 2rem;
    top: 4rem;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
